nav {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: #fff;
  box-shadow: 3px, 3px, 5px rgba(1, 1, 1, 0.1);
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

nav a:hover {
  background-color: grey;
  color: #fff;
}

nav li:first-child {
  margin-right: auto;
  font-weight: bold;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 50%;
  z-index: 999;
  background-color: rgb(255 255 255 / 30%);
  backdrop-filter: blur(2px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  justify-content: center; 
}

.sidebar li {
  width: 100%;
  margin-bottom: 10px;
  background-color: grey;
}

.sidebar a {
  width: 100%;
}

.side-bar-btn {
  display: none;
}

@media(max-width: 800px) {
  .side-bar-btn {
      display: flex;
    }

  .sidebar{
      width: 100%;
  }
}